/* Your styles here */
body {
  font: #393d41;
  text-align: center;
}
header{
  font:#25a2c3 – Montserrat bold – interlinea 1.5;
}
.pic {
  background-color: black;
  padding: 1em;
}

.one {
  background-image: url("banner.jpg");
  background-size: cover;
}

h1 {
  font-size: 50px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

h2 {
  font-size: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}

button {
  background-color: #f04c2f;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  font-weight: bold;
}

.btn {
  margin: 0 auto;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}


h3 {
  font-size: 30px;
  color: lightseagreen;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.pezzo {
  padding-bottom: 40px;
  margin: 0 auto;
  margin-bottom:20px;
  margin-right:20px;
  margin-left:20px;
  text-align:center;
  border: 1px solid #dee1e3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p {
  text-align: center;
  font-size: 20px;
}
.pic1 {
  clip-path: circle(50%);
}

.juj {
  background-color: #e22d0e;
  color: white;
  padding: 30px;
  margin-bottom:40px;
}

.spazio {
  padding-bottom: 50px;
}

footer{
  text-align:center;
  background-color:#25a2c3;
  color:white;
  margin-top:80px;
}

.txt{
  padding:5px;
  font:#c8e7f0;
}

.xnx{
  margin-top:80px;
  border-top:1px solid #dee1e3;
  padding-left:25px;
  padding-right:25px;
  padding-top:35px;
  padding-bottom:15px;
  left:50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
