
  
.container{
    text-align:center;
    margin:0;
}

.second{
    text-align:left;
    margin-left:100px;
    margin-right:100px;
}

.third{
    text-align:left;
    margin-left:100px;
    margin-right:100px;
}