.body {
  text-align: center;
  margin-inline: auto;
}

.container {
  text-align: center;
  margin-inline: auto;
}

.second {
  text-align: left;
  margin-left: 100px;
  margin-inline: auto;
}

.third {
  text-align: left;
  margin-left: 100px;
  margin-inline: auto;
}

.immagine {
  border-radius: "12px";
}
